@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
span {
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: none !important;
  outline: none !important;
}

*,
:after,
:before {
  box-sizing: border-box;
}
